@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-color: #150e28;
$primary-color: #d434fe;
$secondary-clor: #903aff;
$neutral-color: #FE34B9;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
  background-color: $bg-color;
}

// heading tags
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif !important;
}

// button style
.btn {
  background: linear-gradient(90deg, $neutral-color, $secondary-clor);
  position: relative;
  transition: .3s ease-in;
}

.btn::before {
  content: 'Register';
  // height: 100%;
  // width: 100%;
  border-radius: 4px;
  background-color: $bg-color;
  position: absolute;
  top: 0%;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .3s ease-in;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  margin: 2px;
}

.btn:hover::before {
  opacity: 1;
}

header.border-b {
  border-bottom-width: .8px !important;
  border-bottom-color: #eeeeee46;
}

// navbar styline
.nav-links {
  transition: .3s ease-in;
}

.nav-links:hover {
  background: linear-gradient(90deg, $neutral-color, $secondary-clor);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}